// ==============================
// Custom style
// 自定义样式
// ==============================
.program {
	display: grid;
	margin-top: 100px;
	/*  声明了三列，宽度分别为 200px 100px 200px */
	grid-template-columns:  200px 200px 200px 200px;
	grid-gap: 30px;
	/*  声明了两行，行高分别为 50px 50px  */
	grid-template-rows: 200px 200px 200px 200px;

	.item{
		text-align: center;
		display: flex;
		border: 1px solid gray;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		cursor: pointer;

		span{
			text-align: center;
			font-size: 20pt;
			margin-top: 10px;
		}
		.fab,.fas,.fab{
			font-size: 60pt;
		}
	}

	.item:hover{
		color: gray;
		scale: (1.1);
	}
}