<div id="observablehq-62629335">
	<div class="observablehq-viewof-edgeColor"></div>
	<div class="observablehq-viewof-align"></div>
	<div class="observablehq-chart"></div>
      </div>
      <script type="module">
	import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
	import define from "https://api.observablehq.com/@d3/sankey-diagram.js?v=3";
	(new Runtime).module(define, name => {
	  if (name === "viewof edgeColor") return Inspector.into("#observablehq-62629335 .observablehq-viewof-edgeColor")();
	  if (name === "viewof align") return Inspector.into("#observablehq-62629335 .observablehq-viewof-align")();
	  if (name === "chart") return Inspector.into("#observablehq-62629335 .observablehq-chart")();
	});
      </script>